<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-black mx-2 px-2" href="{% url 'home' %}" id="home-link">
                Головна
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Усі продукти
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">Усі</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">За ціною</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">За категорією</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">За оцінкою</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="electronic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Електроніка та аксесуари
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electronic">
                <a href="{% url 'products' %}?category=akustyka,mob_aksesuary,harnitura,watches" class="dropdown-item">Уся електроніка</a>
                <a href="{% url 'products' %}?category=akustyka" class="dropdown-item">Колонки та акустика</a>
                <a href="{% url 'products' %}?category=mob_aksesuary" class="dropdown-item">Мобільні аксесуари</a>
                <a href="{% url 'products' %}?category=harnitura" class="dropdown-item">Навушники та гарнітура</a>
                <a href="{% url 'products' %}?category=watches" class="dropdown-item">Годинники, смарт, фітнес браслети</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="beauty-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Краса і здоров'я
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beauty-link">
                <a href="{% url 'products' %}?category=vitaminy,kosmetyka,sport" class="dropdown-item">Усе</a>
                <a href="{% url 'products' %}?category=vitaminy" class="dropdown-item">Вітаміни та добавки</a>
                <a href="{% url 'products' %}?category=kosmetyka" class="dropdown-item">Косметика</a>
                <a href="{% url 'products' %}?category=sport" class="dropdown-item">Спорт, здоров'я, відпочинок</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Товари для дому
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=vse_dlya_kukhni,dim_ta_sad,lighters" class="dropdown-item">Усі</a>
                <a href="{% url 'products' %}?category=vse_dlya_kukhni" class="dropdown-item">Все для кухні</a>
                <a href="{% url 'products' %}?category=dim_ta_sad" class="dropdown-item">Товари для дому та саду</a>
                <a href="{% url 'products' %}?category=lighters" class="dropdown-item">Ліхтарі, лампи, запальнички</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Мода та аксесуари
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=shoes,bags" class="dropdown-item">Усі</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Взуття</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Сумки, клатчі, гаманці, окуляри</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mx-3 px-2 text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Товари для дітей і тварин 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=children,animals" class="dropdown-item">Усі</a>
                <a href="{% url 'products' %}?category=children" class="dropdown-item">Товари для дітей</a>
                <a href="{% url 'products' %}?category=animals" class="dropdown-item">Товари для тварин </a>
            </div>
        </li>
    </ul>
</div>